# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
*.log.*

# Electron specific
*.asar

# OS-specific
.DS_Store  # macOS
Thumbs.db  # Windows

# Compiled binaries
*.exe
*.dll
*.so
*.dylib

# Packaging
dist/
out/

# Others
coverage/
